@page
@using ShoeShop.Models
@model ShoeShop.Pages.Admin.DeleteProductModel
@{
}

<div class="row">
    <h1 class="col text-end">Удалить товар</h1>
</div>

<div class="row">
    <form method="post" enctype="application/x-www-form-urlencoded" data-form="form" class="needs-validation" novalidate>
        <div class="row">
            <input id="input-product-id" name="id" type="hidden" />
            <div class="mb-3">
                <label for="titleInput" class="form-label">Название:</label>
                <input id="titleInput" type="text" value="@Model.Product?.Name" class="form-control form-control-lg" placeholder="Название" readonly />
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                <label for="isSale" class="form-label">Товар продается:</label>
                <select id="isSale" name="issale" class="form-select form-select-lg" disabled>
                    @if (Model.Product?.IsSale == true) {
                        <option value="true" selected>Да</option>
                        <option value="false">Нет</option>
                    } else {
                        <option value="true">Да</option>
                        <option value="false" selected>Нет</option>
                    }
                </select>
                <div class="invalid-feedback">
                    Обязательное поле.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="descriptionTextarea" class="form-label">Краткое описание:</label>
            <textarea id="descriptionTextarea" class="form-control  form-control-lg" style="height: 150px;" readonly>@Model.Product?.Description</textarea>
        </div>
        <div class="mb-3">
            <label for="contentTextarea" class="form-label">Описание:</label>
            <textarea id="contentTextarea" name="content" class="form-control  form-control-lg" style="height: 150px;" readonly>@Model.Product?.Content</textarea>
        </div>
        <div class="mb-3">
            <label for="priceInput" class="form-label">Цена:</label>
            <input id="priceInput" type="number" value="@Model.Product?.Price" class="form-control  form-control-lg" readonly />
        </div>
        <div data-role="images_panel">
            @foreach (ProductImage image in @Model.Product?.Images ?? Enumerable.Empty<ProductImage>()) {
                <div data-role="elemen-troot" class="position-relative w-100">
                    <div class="mb-3 p-1 d-flex border border-secondary-subtle" style="z-index: 1;width: 100%;">
                        <div class="border border-secondary-subtle" style="width: 90px; height: 120px;">
                            <img data-role="image-priview" src="~/@image.Path" class="img-fluid" />
                        </div>
                        <div class="flex-grow-1" style="margin-left: 0.5em;">
                            <label data-role="label-input-image-alt">Описание изображения:</label>
                            <input data-role="input-image-alt" type="text" class="form-control form-control-lg" value="@image.Alt" readonly />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="mb-3 d-flex justify-content-end">
            <button data-role="button-submit" class="btn btn-primary" type="submit">Удалить</button>
        </div>
    </form>
</div>

<template data-role="template-product-image">
    <div data-role="elemen-troot" class="position-relative w-100">
        <div class="mb-3 p-1 d-flex border border-secondary-subtle" style="z-index: 1;width: 100%;">
            <input data-role="input-image-id" type="hidden" />
            <div class="border border-secondary-subtle" style="width: 90px; height: 120px;">
                <img data-role="image-priview" src="~/images/template/no_photo.jpg" class="img-fluid" />
                <input data-role="input-image-file" type="file" accept="image/jpeg" style="opacity:0; width: 1px; height: 1px;" />
                <input data-role="input-image-mode" type="hidden" value="New" />
            </div>
            <div class="flex-grow-1" style="margin-left: 0.5em;">
                <label data-role="label-input-image-alt">Описание изображения:</label>
                <input data-role="input-image-alt" type="text" class="form-control form-control-lg" minlength="1" maxlength="50" required />
                <div class="invalid-feedback is-invalid">
                    Обязательное поле. Длинна текста от 1 до 30 символов.
                </div>
                <div class="d-flex justify-content-end" style="margin-top: 0.8em;">
                    <div data-role="input-image-file-error" class="invalid-feedback">
                        Выберите изображение формата '.jpg', размером не более 150 килобайт. Ширина изображения 600 пикселов, высота 800 пикселов.
                    </div>
                    <label data-role="label-input-image-file" class="btn btn-primary btn-sm" style="margin-right: 0.5em;">Изменить</label>
                    <button data-role="button-delete-image" type="button" class="btn btn-danger btn-sm" style="margin-right: 0.5em;">Удалить</button>
                    <button data-role="button-cansel-image" type="button" class="btn btn-success btn-sm" style="z-index: 5000">Отменить</button>
                </div>
            </div>
        </div>
        <div data-role="overlay-image-panel" class="d-flex justify-content-center align-items-center position-absolute opacity-50 bg-secondary d-none" style="top:0; z-index: 2000; width: 100%; height: 100%;">
            <h2 class="text-danger text-center align-middle">Удалено</h2>
        </div>
    </div>
</template>
